[Unit]
Description="Create and push cloud coin usage records"

[Timer]
OnCalendar=*-*-* 03:37:31
Unit=records.service

[Install]
WantedBy=multi-user.target
