[Unit]
Description="Carry out storage accounting and reporting"

[Timer]
OnCalendar=*:19
Unit=storage_accounting.service

[Install]
WantedBy=multi-user.target
