[Unit]
Description="Carry out storage accounting and reporting"

[Timer]
OnCalendar=*-*-* 04:19:37
Unit=storage_accounting.service

[Install]
WantedBy=multi-user.target
