[Unit]
Description="Sync from SUPR"

[Service]
Type=oneshot
SyslogIdentifier=supr-sync
Environment="PYTHONIOENCODING=utf8"

[Service]
Type=oneshot
Environment=OPENSTACK_SUPR_SYNC_CONFIG_PATH=/root/openstack-supr-sync/config.yaml
Environment=OPENSTACK_SUPR_SYNC_SECRETS_PATH=/root/openstack-supr-sync/secrets.yaml
WorkingDirectory=/root/openstack-supr-sync
ExecStart=/root/openstack-supr-sync/.venv/bin/python3 /root/openstack-supr-sync/openstack_supr_sync/storage_accounting.py
ExecStart=/root/openstack-supr-sync/.venv/bin/python3 /root/openstack-supr-sync/openstack_supr_sync/storage_records.py

[Install]
WantedBy=multi-user.target
