[Unit]
Description="Sync from SUPR"

[Service]
Type=oneshot
SyslogIdentifier=supr-sync
Environment="PYTHONIOENCODING=utf8"

[Service]
Type=oneshot
Environment=OPENSTACK_SUPR_SYNC_CONFIG_PATH=/root/openstack-supr-sync/config.yaml
Environment=OPENSTACK_SUPR_SYNC_FLAVOR_PATH=/root/openstack-supr-sync/flavor_table.yaml
Environment=OPENSTACK_SUPR_SYNC_SECRETS_PATH=/root/openstack-supr-sync/secrets.yaml
WorkingDirectory=/root/openstack-supr-sync
ExecStart=/root/openstack-supr-sync/.venv/bin/python /root/openstack-supr-sync/openstack_supr_sync/supr_sync.py

[Install]
WantedBy=multi-user.target
